#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.main-header-section{
	padding-top: 220px;
	background-image: url('/images/header_bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	h1{
		text-align: center;
		color: #fff;
		&.header-name-line{
			font-family: @font-family-serif;
			font-style: italic;
			margin-bottom: 30px;
		}
		&.header-skills-line{
			font-size: 80px;
			font-weight: bold;
		}
	}
	span.skill {
		color: #FED136;
	}
}

#portfolio-grid {
	margin: 0 auto;
}

.grid-item{
	float: left;
  width: 360px;
	height: 200px;
	position: relative;
	overflow: hidden;
}

.grid-item-feature {
	.grid-item();
	width:730px;
	height: 410px;
}

.grid-item,
.grid-item-feature{
	iframe{
		position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	}
	.video-thumbnail {
		width: 100%;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

// @media screen and (max-width: @screen-sm-min) {
// 	.grid-item,
// 	.grid-item-feature {
// 		.grid-item();
// 		width: 360px;
// 		height: 200px;
// 	}
// }

// .video-cell iframe {
//     position: absolute;
//     top:0;
//     left: 0;
//     width: 100%;
//     height: 100%;
// }
