#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.main-header-section{
	padding-top: 220px;
	background-image: url('http://res.cloudinary.com/dy5kgxvzv/image/upload/c_scale,q_80,w_1664/v1459209093/web%20assets/header_bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	h1{
		text-align: center;
		color: #fff;
		&.header-name-line{
			font-family: @font-family-serif;
			font-style: italic;
			margin-bottom: 30px;
		}
		&.header-skills-line{
			font-size: 80px;
			font-weight: bold;
		}
	}
	span.skill {
		color: #FED136;
	}
}

#portfolio-grid {
	margin: 0 auto;
}

.grid-item{
	float: left;
  width: 360px;
	height: 200px;
	position: relative;
	overflow: hidden;
}

.grid-item-feature {
	.grid-item();
	width:730px;
	height: 410px;
}

.grid-item,
.grid-item-feature{
	iframe{
		position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	}
	.video-thumbnail {
		width: 100%;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.video-grid {
margin-top: 40px;
}

.video-info-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	transition: all 0.2s ease;
	opacity: 0;
	text-align: right;
	.inner-text {
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 0 10px;
	}
	h3 {
		color: #FED136;
	}
	h4 {
		color: #FFF;
	}
	&:hover {
		background-color: rgba(0, 0, 0, 0.5);
		opacity: 100;
	}
}

.email-container{
	padding: 120px 0;
	.email-header{
		text-align: center;
		margin: 0 0 30px 0;
		h1{
			color: #FED136;
		}
	}
	#contactform{
		label{
			color: #FED136;
		}
		textarea{
			height: 200px;
			resize: vertical;
		}
		button{
			background-color: #FED136;
			border: none;
			height: 40px;
			color: #222222;
			position: relative;
		}
	}
}

footer{
	p{
		text-align: right;
	}
}

.social-container{
	padding: 80px 0;
	margin: 30px 0 0 0;
	background: #FED136;
	svg{
		max-width: 80px;
		width: 80%;
	}
	.social-header{
		h1{
				margin: 0 0 30px 0;
		}
		text-align: center;
	}
	.social-block {
		text-align: center;
		padding: 20px 0;
		height: 150px;
		position: relative;
		h3{
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
		}
		&.youtube{
			&:hover {
				#rectangle{
					fill: #cd201f;
				}
			}
			#rectangle,
			#play {
				stroke: #FFF;
			}
		}

		&.vimeo{
			#vimeov{
				stroke: #FFF;
			}
			&:hover{
				#vimeov{
					fill: #1ab7ea;
				}
			}
		}

		&.linkedin{
			#in{
				stroke: #FFF;
			}
			&:hover{
				#in{
					fill: #0077B5;
				}
			}
		}

		&.instagram{
			#inner-lens{
				fill: none;
			}
			#outer-lens{
				fill: none;
			}
			#flash{
				fill: none;
			}
			#rainbow{
				fill: none;
			}
			#top{
				fill: none;
			}
			#bottom{
				fill: none;
			}
			#rainbow{
				opacity: 0;
			}
			&:hover{
				#inner-lens{
					fill: #444444;
				}
				#outer-lens{
					fill: #333333;
				}
				#flash{
					fill: #000;
				}
				#rainbow{
					opacity: 1;
				}
				#top{
					fill: #926257;
				}
				#bottom{
					fill: #E6D6C4;
				}
			}
		}
	}
}
